<div class="container-fluid">

    <div class="col-12">
        <header class="row  text-center fondoHeaderYFooter titulos">
            <div class="col-11 col-sm-11 col-md-11 col-lg-11">
                <div class="p-3">
                    <div class="row">
                        <h1 class="tituloLogo"><img class="col-4 col-sm-3 col-md-2 col-lg-1" src="{{imgLogo}}"> Modas Vaniver</h1>
                    </div>
                </div>
            </div>
        </header>

        <nav class="row navbar fondoNav">
            <div class="p-3 col-12">
                <div class="row">
                    <div class="dropdown">
                        <button class="col-1 col-sm-1 col-md-1 col-lg-1 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Menú
                </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Vestidos</a></li>
                            <li><a class="dropdown-item" href="#">Camisas</a></li>
                            <li><a class="dropdown-item" href="#">Pantalones</a></li>
                        </ul>
                    </div>

                    <form class="d-flex">
                        <input class=" col-1 col-sm-1 col-md-3 col-lg-2" type="search" placeholder="Search" aria-label="Search">
                        <button class=" col-1 col-sm-1 col-md-1 col-lg-1 btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>


        <main>
            <section class="row fondoGeneral pt-5 pb-5">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 ">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../../../../assets/vestido1.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../../../assets/vestido2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../../../assets/vestido3.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-6 text-center pt-2">
                            <h1>
                                20% DE DESCUENTO
                            </h1>
                            <h4>
                                Estas navidades mas sorpresas para ti! consigue<br> estos vestidos con un 20% de descuento hasta fin de existencias!
                            </h4>
                        </div>
                    </div>
                </div>
            </section>
        </main>


        <footer class="row">
            <div class="p-3 col-12 fondoHeaderYFooter">
                <div class="row  d-flex justify-content-center">
                    <a class="col-12 col-sm-12 col-md-3 col-lg-2" href="#">Trabaja aqui</a>
                    <a class="col-12 col-sm-12 col-md-3 col-lg-2" href="#">Contacta</a>
                    <a class="col-12 col-sm-12 col-md-3 col-lg-2" href="#">¿Quienes somos?</a>
                </div>
            </div>
        </footer>

    </div>
</div>