<div class="container-fluid">

    <div class="col-12">
        <header class="row  text-center fondoHeaderYFooter titulos">
            <div class="col-11 col-sm-11 col-md-11 col-lg-11">
                <div class="p-3">
                    <div class="row">
                        <h1 class="tituloLogo"><img alt="titulo" class="col-4 col-sm-3 col-md-2 col-lg-1" src="{{imgLogo}}"> Modas Vaniver</h1>
                    </div>
                </div>
            </div>
        </header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menú
              </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <h3>Ropa</h3>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Vestidos</a></li>
                                <li><a class="dropdown-item" href="#">Faldas</a></li>
                                <li><a class="dropdown-item" href="#">Pantalones</a></li>
                                <li><a class="dropdown-item" href="#">Camisetas</a></li>
                                <li><a class="dropdown-item" href="#">Joyería</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>Buscar</button>
                        <button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>Perfil</button>
                    </form>
                    <form class="d-flex">

                    </form>
                </div>
            </div>
        </nav>

        <main>
            <section class="row fondoGeneral pt-5 pb-5 d-flex justify-content-center">
                <div class="col-12">
                    <h1 class=" text-center col-12 col-sm-12 col-md-12 col-lg-12">Necesitas ayuda?
                        <h4>Envianos un mensaje!:</h4>
                    </h1>
                    <form>
                        <div class="row justify-content-center pt-4">
                            <div class="col-7 col-sm-10 col-md-3 col-lg-3">
                                <label for="nombre" class="form-label">Nombre:</label>
                                <input aria-labelledby="nombre" title="nombre" id="nombre" placeholder="Inserta un Nombre" class="form-control" value="" type="text">
                            </div>

                            <div class="col-7 col-sm-10 col-md-3 col-lg-3">
                                <label for="correo" class="form-label">Correo:</label>
                                <input aria-labelledby="correo" title="correo" id="correo" placeholder="Inserta un Correo" class="form-control" type="email" value="">
                            </div>
                        </div>

                        <div class="row justify-content-center pt-4 pb-4">
                            <div class="col-7 col-sm-10 col-md-3 col-lg-3">
                                <label for="mensaje" class="form-label">Mensaje:</label>
                                <textarea title="mensaje" id="mensaje" placeholder="Inserta un Mensaje" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> </div>
                        </div>


                        <div class="row pt-4 d-flex justify-content-center border-top border-white">
                            <button class="col-12 col-sm-12 col-md-3 col-lg-2 btn btn-primary mb-2 mx-2" type="submit">Enviar</button>
                        </div>

                        <div class="row pt-4  pb-3 d-flex justify-content-center border-top border-white">
                            <button class="col-12 col-sm-12 col-md-3 col-lg-2 btn btn-primary mb-2 mx-2" type="submit">Volver</button>
                        </div>


                    </form>
                </div>
            </section>
        </main>


        <footer class="row">
            <div class="p-3 col-12 fondoHeaderYFooter">
                <div class="row  d-flex justify-content-center">
                    <a class="col-12 col-sm-12 col-md-3 col-lg-2" href="http://127.0.0.1:4200/trabajo">Trabaja aqui</a>
                    <a class="col-12 col-sm-12 col-md-3 col-lg-2" href="http://127.0.0.1:4200/contacto">Contacta</a>
                    <a class="col-12 col-sm-12 col-md-3 col-lg-2" href="http://127.0.0.1:4200/quienesSomos">¿Quienes somos?</a>
                </div>
            </div>
        </footer>

    </div>
</div>