<div class="row px-5">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 border-bottom border-3 d-flex justify-content-center">
        <article class="row">
            <h1 class="col-12 col-sm-12 col-md-12 col-lg-12">{{title}}</h1>
        </article>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 border-bottom border-3 d-flex justify-content-center">
        <article class="row py-4">
            <img class="col-12  col-sm-12 col-md-6 col-lg-6" src="{{imagen}}">
            <div class="col-12  col-sm-12 col-md-6 col-lg-6">
                <h3 style="color:#92d3e3;" class="col-12">¡Escápate a una isla paradisíaca cuando, como y donde quieras!</h3>
                <h5 class="col-12">Explora tu isla:</h5>
                <p class="col-12">Recoge insectos, decora tu paraíso durante el día o disfruta de la puesta de sol en la playa mientras pescas en el océano.</p>
                <h5 class="col-12">Crea tu propio lugar de vacaciones:</h5>
                <p class="col-12">Fabrica desde herramientas hasta objetos que hagan tu estancia aún más placentera a medida que personalizas tu isla.</p>
            </div>
        </article>
    </div>
</div>