button {
    background-color: #b02261;
    color: white;
    border-color: black;
    &.oscuro {
        background-color: #642327;
        &:hover {
            background-color: #b04746;
        }
    }
    &:hover {
        background-color: #37bac4;
    }
}

.linkAuxiliar {
    color: #270444;
    &:hover {
        color: #3797c4;
    }
}
